body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#tabuleiro{
    height: 260px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #797979;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.casa{
    margin: 0;
    width: 80px;
    height: 80px;
    background-color: #FFF;
    cursor: pointer;
    font-size: 50px;
    font-weight: bolder;
    text-align: center;
    line-height: 80px;
}

#restart{
    margin: 20px 0;
    width: 300px;
    padding: 10px 0;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
}

#restart a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    color: #000;
}

#vencedor{
    font-size: 30px;
    color: #107a10;
}